
		

.ferromenu-controller{
	position:fixed;
	display:block;
	width:80px;
	height:80px;
	/*margin:10px;*/
	text-align:center;
	-webkit-border-radius:50%;
	border-radius:50%;
	background: #2ECC71;
    color:#f2f2f2;
    font-family: 'Lato', sans-serif;
    font-size:24px;
    line-height:80px;
    vertical-align:middle;
    text-decoration:none; 
}

.ferromenu-controller .label{
	-webkit-transition : all 0.2s linear;
	-moz-transition : all 0.2s linear;
	-ms-transition : all 0.2s linear;
	-o-transition : all 0.2s linear;
	transition : all 0.2s linear;
}

.ferromenu-controller.desktop:hover,
.ferromenu-controller.mobile:active{
	background:#2ECC71;
}

#nav li,#nav2 li{
	color:#f2f2f2;
	text-align:center;
	
}

#nav li a,#nav2 li a{
	font-size:20px;
	color:#f2f2f2;
	text-decoration:none;
	width:40px;
	height:40px;
	-webkit-border-radius:50%;
	border-radius:50%;
	background: #2ECC71;
	line-height:40px;
	display:block;
}

#nav li.desktop a:hover,#nav2 li.desktop a:hover,
#nav li.mobile a:active,#nav2 li.mobile a:active{
	opacity:0.7;
