li{
  list-style:none;
}
ul{
  list-style: none;
}
.container {
  padding-top: 50px;
}
.navbar a {
  color: white;
  
}
.navbar
{ 
  height:50px;
  z-index: 1;
  background-color:#1abc9c !important;
  min-width:100%;
  margin:auto;
  box-shadow:0 3px 5px -2px #1abc9c !important;
}
.glyphicon-bell {
  font-size:1.2em;
}
.dropdown ul{
  border:1px solid rgb(196,196,196);

}
.dropdown li a {
  white-space:normal;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top:0;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
background:white !important;
margin-bottom: 60px;
  overflow:hidden;
}
.holy
{
text-decoration:none;
}
a:link {
    text-decoration:none;
}
a:visited {
   text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}

.contain
{
width:100%;
position:relative;
}

.big
{
border-radius:50%;
background-color:transparent;
display:inline-block;
width:10.98%;
height:60%;
margin:5%;
position:relative;
left:8%;
text-align:center;
cursor: pointer;

}

.big:hover
{
z-index: 100;
box-shadow: 0 0 50px #fff;
-webkit-transition: all .2s;
transition: all .2s;

}
.text

{
padding-top:35%;
font-weight:bold;
font-size:150%;
}

.small2
{
border:1px solid white;
border-radius:100%;
background-color:#1abc9c;
display:inline-block;
width:70px;
height:70px;
text-align:center;
margin-bottom:2%;
color:white;
}
.smtext2
{
padding-top:32%;
font-weight:bold;
font-size:103%;
}
.small2:hover
{
color:white;
border:.5px solid #274cf0;
}
.contain2
{
  padding-top:20px!important;
}
.contain2-fluid
{
    padding-left:40px!important;
}
.contain3
{
background-color:transparent;
position:absolute;
margin-top:0px;
margin-left:10%;
margin-right:10%;
padding-top:20px;
height:100px;
width: 80%;
}
.contain4
{
background-color:transparent;
position:absolute;
margin-top:0px;
margin-left:10%;
margin-right:10%;
padding-top:20px;
height:100px;
width: 80%;
}
.contain5
{
background-color:transparent;
position:absolute;
margin-top:0px;
margin-left:26.5%;
margin-right:16%;
padding-top:20px;
height:100px;
width:40%;
}
.small2:hover
{
-webkit-transform: scale(1.5,1.5);
}
.small3
{
border:1px solid white;
border-radius:100%;
background-color:#1abc9c;
display:inline-block;
width:70px;
height:70px;
text-align:center;
color:white;
margin-bottom:2%;
}
.smtext3
{
padding-top:32%;
font-weight:bold;
font-size:103%;
}
.small3:hover
{
color:white;
border:.5px solid #274cf0;
}

.small3:hover
{
-webkit-transform: scale(1.5,1.5);
}
.small4
{
border:1px solid white;
border-radius:100%;
background-color:#1abc9c;
display:inline-block;
width:70px;
height:70px;
text-align:center;
color:white;
margin-bottom:2%;
}
.small5
{
border:1px solid white;
border-radius:100%;
background-color:#1abc9c;
display:inline-block;
width:70px;
height:70px;
text-align:center;
color:white;
position:relative;
left:18%;

}
.smtext4
{
padding-top:32%;
font-size:103%;
font-weight: bold;
}
.small4:hover
{
color:white;
border:.5px solid #274cf0;
}
.smtext5
{
padding-top:32%;
font-size:103%;
font-weight: bold;
}
.small5:hover
{
color:white;
border:.5px solid #274cf0;
}

.small5:hover,.small4:hover,.small3:hover,.small2:hover
{
  z-index: 100;
box-shadow: 0 0 20px #fff;
-webkit-transition: all .2s;
/*
transition: all .2s;
*/
-webkit-transform: scale(1.1);
}
.blurmenu
{

width: 100%;
position: absolute;
background: transparent;
height: 100%;
z-index: -1000;
opacity: .4;
-webkit-filter:blur(6px);
filter:blur(6px);
}



.editgly
{ 
  position: absolute;
color: #1abc9c ;
font-size: 80px;
left: 22%;
top: 21%;

}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #1abc9c !important;
font-weight: bold;
}
.contain2,.contain3,.contain4,.contain5
{
  transition:1s;
  -webkit-transition:1s;
  display: none;
}
.inbig
{
position: relative;
border-radius: 50%;
transition:.3s;
height: 120px;
width: 120px;
border: 1px solid #16a085;
left: 10%;
top: 9%;
visibility:hidden;
}

.inbig.hov
{

position: relative;
border:1px solid #16a085;
transform: scale(1.2);
-webkit-transform: scale(1.2);
visibility:visible;
}

#one>.editgly
{
  /*padding-right: 10px;*/
}

.menutitle
{
position: absolute;
bottom: -30%;
left: 27%;
text-align: center;
font-weight: bold;
color: #1abc9c;
font-size:20px;

}

.flip
{
  transition: 1s;
  -webkit-transition:1s;
  -webkit-transform: rotateY(360deg);
  -transform:rotateY(360deg);
}

.navbar-brand>a
{
  font-weight: bold;
}

.loading
{
height:5px;
position:absolute;
/*
top:55%;
*/
margin-right:5%;
margin-left:1%;
background:#1abc9c;
position:absolute;
}

.small2,.small3,.small4,.small5
{
  opacity: 0;

  transition:opacity 1s;

  }

.input
{
  display:none;
}
.contain2>form
{
  display: inline-block;
  width: 10%;
}
.footer
{
width: 100%;
height:5%;
position: absolute;
bottom:-140px;
background-color: #1abc9c;
box-shadow: 0 -3px 5px -2px rgba(200,200,200,0.9);
}
.done>li>a{
  color: white!important;
}
.done>li>a:hover{
  color: black !important;
  background-color: white!important;
}
.book
{
  text-decoration:none;
  display:inline-block;
}
#fid10
{
  margin-left: 5%;
}

#comment_section
{
display:none;
}

.well hr

{
 margin-top: 0px !important; 
 margin-bottom: 10px !important; 
border: 0;
border-top: 1px solid #16a085 !important;
}
@media screen and (min-width:1421px) and (max-width:1650px)
{
  .child41
  {
    margin-left:36%!important;
  }
  .child
  {
    margin-left:7%;
  }
}
@media screen and (min-width:1400px) and (max-width:1650px)
{
  .child1
  {
    margin-left:5%;
  }
}
@media screen and (min-width:1200px) and (max-width:1400px)
{
  .child1
  {
    margin-left:5%;
  }
}
@media screen and (min-width:992px) and (max-width:1199px)
{
  .child2
  {
    margin-left:5%;
  }
  .child21
  {
    margin-left:35%;
  }
}
@media screen and (min-width:768px) and (max-width:991px)
{
  .child3
  {
    margin-left:7%;
  }
  .child32
  {
    margin-right:7%;
  }
}
.childp
{
  padding-top:23%!important;
}
@media screen and (min-width:1551px) and (max-width:1650px)
{
  .childleft1
  {
    margin-left:23%;
  }
  .childleft2
  {
    margin-left:30%;
  }
}
@media screen and (min-width:1400px) and (max-width:1550px)
{
  .childleft1
  {
    margin-left:21%;
  }
  .childleft2
  {
    margin-left:28%;
  }
}
@media screen and (min-width:1323px) and (max-width:1400px)
{
  .childleft1
  {
    margin-left:21%;
  }
  .childleft2
  {
    margin-left:28%;
  }
}
@media screen and (min-width:1150px) and (max-width:1322px)
{
  .childleft1
  {
    margin-left:20%;
  }
  .childleft2
  {
    margin-left:28%;
  }
}
@media screen and (min-width:1050px) and (max-width:1149px)
{
  .childleft1
  {
    margin-left:17%;
  }
  .childleft2
  {
    margin-left:25%;
  }
}
@media screen and (min-width:992px) and (max-width:1049px)
{
  .childleft1
  {
    margin-left:15%;
  }
  .childleft2
  {
    margin-left:23%;
  }
}
@media screen and (min-width:768px) and (max-width:991px)
{
  .childleft1
  {
    margin-left:7%;
  }
  .childleft2
  {
    margin-left:15%;
  }
}
.text
{
  padding-top:25%!important;
}
@media screen and (min-width:992px) and (max-width:1185px)
{
  .child5
  {
    margin-left:28%;
  }
  .child6
  {
    margin-left: 15%;
  }
  .child41
  {
    margin-left: 35%;
  }
}
@media screen and (min-width:768px) and (max-width:991px)
{
  .child5
  {
    margin-left:24%;
  }
  .child6
  {
    margin-left: 6%;
  }
  .child41
  {
    margin-left: 33%;
  }
}
.child7
{
  margin-left: 8%;
}