li{
  list-style:none;
}
ul{
  list-style: none;
}
.container {
  padding-top: 50px;
}
.navbar a {
  color: white;
  
}
.navbar
{ 
  height:50px;
  z-index: 1;
  background-color:#2ECC71 !important;
  min-width:100%;
  margin:auto;
  box-shadow:0 3px 5px -2px #27AE60 !important;


}
.glyphicon-bell {
  font-size:1.2em;
}
.dropdown ul{
  border:1px solid rgb(196,196,196);

}
.dropdown li a {
  white-space:normal;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    margin-top:0;
}
.container {
  //background-color:rgb(255,255,255);
  min-height: 100%;
  max-width:1200px;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 75px;

}
body {
  font-family: 'Open Sans', sans-serif;
  height: 740px;
overflow:hidden;
background:white !important;
  
}
.holy
{
text-decoration:none;
}
a:link {
    text-decoration:none;
}
a:visited {
   text-decoration:none;
}
a:hover {
    text-decoration:none;
}
a:active {
    text-decoration:none;
}
.contain
{
width:100%;
height:32.55%;
position:relative;
top:75px;
}
.big
{
border-radius:50%;
background-color:transparent;
display:inline-block;
width:10.98%;
height:60%;
margin:5%;
position:relative;
left:17%;
text-align:center;
cursor: pointer;

}

.big:hover
{
z-index: 100;
box-shadow: 0 0 50px #fff;
-webkit-transition: all .2s;
transition: all .2s;

}
.text

{
padding-top:35%;
font-weight:bold;
font-size:150%;
}
.container1
{
position:relative;
top:20%;
width:100%;
height:200px;
}
.small2
{
border:1px solid white;
border-radius:100%;
background-color:#27ae60;
display:inline-block;
width:68px;
height:68px;
text-align:center;
margin-left:6%;
margin-top:2%;
color:white;
}
.smtext2
{
padding-top:32%;
font-weight:bold;
font-size:103%;
}
.small2:hover
{
color:green;
border:.5px solid #274cf0;
}
.contain2
{
background-color:transparent;
position:absolute;
width: 80%;
margin-left: 15%;
margin-right:10%;
height:100px;
}
.contain3
{
background-color:transparent;
position:absolute;
margin-left:10%;
margin-right:10%;
height:100px;
width: 80%;
}
.contain4
{
background-color:transparent;
position:absolute;
margin-left:26.5%;
margin-right:16%;
height:100px;
width:40%;
}
.small2:hover
{
-webkit-transform: scale(1.5,1.5);
}
.small3
{
border:1px solid white;
border-radius:100%;
background-color:#27ae60;
display:inline-block;
width:68px;
height:68px;
text-align:center;
margin-left:6%;
margin-top:2%;
color:white;
}
.smtext3
{
padding-top:32%;
font-weight:bold;
font-size:103%;
}
.small3:hover
{
color:green;
border:.5px solid #274cf0;
}

.small3:hover
{
-webkit-transform: scale(1.5,1.5);
}
.small4
{
border:1px solid white;
border-radius:100%;
background-color:#27ae60;
display:inline-block;
width:68px;
height:68px;
text-align:center;
margin-left:6%;
margin-top:2%;
color:white;
position:relative;
left:18%;

}
.smtext4
{
padding-top:32%;
font-size:103%;
font-weight: bold;
}
.small4:hover
{
color:green;
border:.5px solid #274cf0;
}

.small4:hover,.small3:hover,.small2:hover
{
  z-index: 100;
box-shadow: 0 0 20px #fff;
-webkit-transition: all .2s;
/*
transition: all .2s;
*/
-webkit-transform: scale(1.1);
}
.blurmenu
{

width: 100%;
position: absolute;
background: transparent;
height: 100%;
z-index: -1000;
opacity: .4;
-webkit-filter:blur(6px);
filter:blur(6px);
}



.editgly
{ 
  position: absolute;
color: #2ecc71 ;
font-size: 80px;
left: 22%;
top: 21%;
}
.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #27ae60 !important;
font-weight: bold;
}
.contain2,.contain3,.contain4
{
  transition:1s;
  -webkit-transition:1s;
  margin-top: -6%;
  display: none;
}
.inbig
{
position: relative;
border-radius: 50%;
transition:.3s;
height: 120px;
width: 120px;
border: 1px solid green;
left: 10%;
top: 9%;
visibility:hidden;
}

.inbig.hov
{

position: relative;
border:1px solid green;
transform: scale(1.2);
-webkit-transform: scale(1.2);
visibility:visible;
}
#one>.editgly
{
  padding-right: 10px;
}

.menutitle
{
position: absolute;
bottom: -30%;
left: 27%;
text-align: center;
font-weight: bold;
color: #2ecc71;
font-size:20px;

}

.flip
{
  transition: 1s;
  -webkit-transition:1s;
  -webkit-transform: rotateY(360deg);
  -transform:rotateY(360deg);
}

.navbar-brand>a
{
  font-weight: bold;
}

.loading
{
height:5px;
position:absolute;
top:55%;
width:0%;
background:#27ae60;
position:absolute;
}

.small2,.small3,.small4
{
  opacity: 0;
  transition:opacity 2s;
}

.input
{
  display:none;
}
.contain2>form
{
  display: inline-block;
  width: 10%;
}
#footer
{
width: 100%;
bottom:0%;
background-color: #2ECC71;
position: fixed;
box-shadow: 0 -3px 5px -2px rgba(200,200,200,0.9);
}
.done>li>a{
  color: white!important;
}
.done>li>a:hover{
  color: black !important;
  background-color: white!important;
}
.book
{
  text-decoration:none;
  display:inline-block;
}
#fid10
{
  margin-left: 5%;
}

#comment_section
{
display:none;
}

.well hr

{
 margin-top: 0px !important; 
 margin-bottom: 10px !important; 
border: 0;
border-top: 1px solid green !important;
}