.navbar
{
	background-color:#1abc9c;
}
#head
{
	text-decoration:none;
	font-weight: bold;
	color:white;
}
#head:hover
{
	background-color: transparent !important;
	color:white;
}
#head:visited
{
	color:white;
}
.navbar a
{
	color:white;
}
.navbar a:hover
{
	color:black;
}
.navbar-form
{
	margin-right:80px;
}
.did
{
	border-bottom: 3px solid #16a085;
}
.contain
{
	height:53px;
}
.container img
{
	width:100%;
	height:600px;
}
h2,h3
{
	text-align:center;
}
body
{
	background-color:white!important;	
}
#googleMap
{
	height:200px!important;
	border:2px solid black;
	color:black !important;
	text-align: center;
	margin-left: 3%;
}
.foot
{
	background-color:#34495E;
	width:100%;
}
.b1,.b2,.b3{
	height:250px;
	color:white;
	position: relative;
	left:7%;
}
.b2
{
	text-align: center;
	font-weight:bold;
	font-size: 125%;
}
.t2
{
	position:relative;
	top:40px;
	right:8%;
}
.img1
{
	width:40%;
	position:relative;
	top:70px;
}
.bot{
	width:175px;
	height:175px;
	background-color:#3498DB;
	border-radius: 100%;
	position: relative;
	top:40px; 
}
.oned
{
	font-size: 130%;
	font-weight: bold;
}
.act1
{
	position: relative;
	left:26%;
	margin-left: 5%;
	color:white;
}
.act2
{
	position: relative;
	left:27%;
	margin-left: 6%;
	color:white;
}
.act3
{
	position: relative;
	left:30%;
	margin-left: 7%;
	color:white;
}
.header {
    width:100%  !important;
    height:6%;
    text-align:center;
    background-color:#1abc9c;
    color:white;
}
.img-circle {
    width:64px!important;
    height:64px!important;
    border-radius:100%!important;
    margin:auto;
    margin-top: 8%;
    border:2px solid #fff;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}
.row
{
	overflow:hidden!important;
}
.screen1,.screen2,.screen3 {
	background-color:white!important;
    box-shadow: 0px 2px 6px #999;
    position:relative;
    overflow:hidden;
    color:#1abc9c!important;
    margin-top: 1%;
    left:24%;
    border:2px solid #1abc9c;
}
.screen2,.screen3
{
	margin-left: 3%;
}
.slider:hover {
    left:-100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.slider {
    width:200%;
    float:left;
    left:0;
    position:relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header1, .header2 {
    text-align:center;
    width:50%;
    float:left;
    height:20%;
    color:#1abc9c;
    position:relative;
}
.header2
{
	float:left;
}
.heal
{
	margin-top: 3%;
}
.oned{
	position:relative;
	top:6px;
}
.book
{
	text-decoration:none;
	display:inline-block;
}
.sidebar
{
	background-color: white; 
	margin-left: -1%;
	position:fixed!important;
	border-right: 2px solid #16a085;
	border-top: 2px solid #16a085;
	margin-top:0.05%;
	height: 100%;
	z-index:500;
}
.sidebar a
{
	/*color:#1abc9c;*/
}
.sidebar a:hover
{
	color:white;
}
.bull
{
	width:99%!important;
}
.footer
{
width: 100%;
bottom:0;
height:40px;
background-color: #1abc9c;
position:fixed;
box-shadow: 0 -3px 5px -2px rgba(200,200,200,0.9);
z-index:1000;
}
.done>li>a{
	color: white;
}
.done>li>a:hover{
	color: black;
}
.slum
{
	width:22%!important;
	padding: 0px!important
}
.heal
{
	margin-top: 8%;
	font-size: 80%;
}
.nav-sidebar>li>a
{
	color:#1abc9c;
	padding-left: 28px!important;
	margin-right:-5.8%;
	font-size: 120%;
	
}
.kill
{
	border-bottom: 1px solid #16a085;
}
.nav-sidebar>li>a:hover
{
	background-color: #16a085 !important;
}
#hos
{
	color:#1abc9c;
	font-weight: bold;
	font-size: 140%;
	padding-left: 10%!important;
	border-bottom: 1px solid #16a085;
}
.side
{
	position: relative;
	top:48%;
}
.contain1
{
	position:relative;
	top:10%!important;
}
.input
{
	display:none!important;
}
#hos:hover
{
	text-decoration: none;
	background-color: transparent!important;
}

.navbar a:hover
{
	background-color: #16a085 !important;
}
.hw
{
	margin-top: 5%;
	font-size:120%;
}

/*@media screen and (min-height:769px)
=======

@media screen and (min-height:769px)
>>>>>>> 87fdf630a2ce73e9f117b007434b2cccaad4d2c6
{
	#googleMap
	{
		position: relative;!important;
		top:290px!important;
		height:400px!important;
	}
	.screen1,.screen2,.screen3
	{
		height:220px;
		width:17%!important;
	}
	.heal
	{
		font-size:120%!important;
	}
	.header
	{
		font-size:140%!important;
		font-weight: bold;
		margin:auto;
	}
	.oned
	{
		margin-top: 0%;
	}
	.header1
	{
		font-size:130%!important;
	}
	#head{
		font-size: 150%;
		padding-left:30px;
	}
	#hos
	{
		font-size: 180%!important;
	}
	.nav-sidebar>li>a
	{
		font-size: 150%;
		margin-right:-4%!important;
	}
	.sidebar
	{
		width:22%!important;
	}
	.screen1
	{
		position: relative;
		left:26%!important;
	}
	.screen2
	{
		position: relative;
		left:27%;
	}
}*/

@media screen and (max-height:768px)
{
	#googleMap
	{
		position: relative;!important;
		top:45px!important;
	}
}