.navbar
{
	background-color:#2ECC71;
}
#head
{
	text-decoration:none;
	color:white;
}
#head:hover
{
	color:white;
}
#head:visited
{
	color:white;
}
.navbar a
{
	color:white;
}
.navbar a:hover
{
	color:black;
}
.navbar-form
{
	margin-right:80px;
}
.did
{
	border-bottom: 3px solid #27AE60;
}
.contain
{
	height:53px;
}
.container img
{
	width:100%;
	height:600px;
}
h2,h3
{
	text-align:center;
}
body
{
	background-color:white!important;
}
#googleMap
{
	width:180px;
	height:150px;
	position: relative;
	border:2px solid black;
	color:black !important;
	text-align: center;
	position: relative;
	left:5%;
}
.foot
{
	background-color:#34495E;
	width:100%;
}
.b1,.b2,.b3{
	height:250px;
	color:white;
	position: relative;
	left:7%;
}
.b2
{
	text-align: center;
	font-weight:bold;
	font-size: 125%;
}
.t2
{
	position:relative;
	top:40px;
	right:8%;
}
.img1
{
	width:40%;
	position:relative;
	top:70px;
}
.bot{
	width:175px;
	height:175px;
	background-color:#3498DB;
	border-radius: 100%;
	position: relative;
	top:40px; 
}
.act1
{
	position: relative;
	left:26%;
	margin-left: 5%;
	color:white;
}
.act2
{
	position: relative;
	left:27%;
	margin-left: 6%;
	color:white;
}
.act3
{
	position: relative;
	left:30%;
	margin-left: 7%;
	color:white;
}
.header {
    width:100%;
    height:20%;
    text-align:center;
    background-color:#27AE60;
}
.img-circle {
    width:64px!important;
    height:64px!important;
    border-radius:50%!important;
    margin-top:20px;
    margin-left: 120px;
    border:2px solid #fff;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}
.screen1,.screen2,.screen3 {
	background-color:#2ECC71!important;
    box-shadow: 0px 2px 6px #999;
    position:relative;
    overflow:hidden;
    background:#333;
    color:white!important;
    margin-top: 1%;
    left:18%!important;
}
.screen2,.screen3
{
	margin-left:1%;
}
.slider:hover {
    left:-320px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.slider {
    width:640px;
    float:left;
    left:0;
    position:relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header1, .header2 {
    text-align:center;
    width:320px;
    float:left;
    height:140px;
    color:#fff;
    position:relative;
}
.heal
{
	margin-top: 8%;
}
.oned{
	position:relative;
	top:6px;
}
.book
{
	text-decoration:none;
	display:inline-block;
}
.sidebar
{
	background-color: black;
	margin-left: -20px;
	position: fixed!important;
}
.sidebar a
{
	color:white;
}
.sidebar a:hover
{
	color:black;
}
.bull
{
	width:210px;
}
#footer
{
height: 64px;
margin: auto;
max-width: 1200px;
background-color: #2ECC71;
box-shadow: 0 -3px 5px -2px rgba(200,200,200,0.9);
}