.navbar
{
	background-color:#2ECC71;
}
#head
{
	text-decoration:none;
	color:white;
}
#head:hover
{
	color:white;
}
#head:visited
{
	color:white;
}
.nav:hover
{
	background-color:yellow;/*no effect i could declare classes but still*/
	color:white;
}
.navbar a
{
	color:white;
}
.navbar a:hover
{
	color:black;
}
.navbar-form
{
	margin-right:80px;
}
.container img
{
	width:100%;
	height:600px;
}
#dude
{
	position:relative;
	left:20px;
}
.contain1
{
	width:1140px !important;
	position:relative;
}
h2,h3
{
	text-align:center;
}
body
{
	background-color:white!important;
}
#googleMap
{
	width:180px;
	height:150px;
	position: relative;
	border:2px solid black;
	color:black !important;
	text-align: center;
}
.foot
{
	background-color:#34495E;
	width:100%;
}
.b1,.b2,.b3{
	height:250px;
	color:white;
	position: relative;
	left:7%;
}
.b2
{
	text-align: center;
	font-weight:bold;
	font-size: 125%;
}
.t2
{
	position:relative;
	top:40px;
	right:8%;
}
.img1
{
	width:40%;
	position:relative;
	top:70px;
}
.bot{
	width:175px;
	height:175px;
	background-color:#3498DB;
	border-radius: 100%;
	position: relative;
	top:40px; 
}
.act1
{
	position: relative;
	left:26%;
	margin-left: 5%;
	color:white;
}
.act2
{
	position: relative;
	left:27%;
	margin-left: 6%;
	color:white;
}
.act3
{
	position: relative;
	left:30%;
	margin-left: 7%;
	color:white;
}
.containt
{
  background-color: #27AE60;
  height:60px;
}
.header {
    width:100%;
    height:20%;
    text-align:center;
    background-color:#27AE60;
}
.img-circle {
    width:64px!important;
    height:64px!important;
    border-radius:50%!important;
    margin-top:20px;
    margin-left: 120px;
    border:2px solid #fff;
    box-shadow:0px 1px 2px rgba(0, 0, 0, 0.5);
}
.screen1,.screen2,.screen3 {
	background-color:#2ECC71!important;
    margin:0 auto;
    margin-top:24px;
    height:180px;
    box-shadow: 0px 2px 6px #999;
    position:relative;
    overflow:hidden;
    background:#333;
    position:relative;
    left:8%;
    color:white!important;
}
.slider:hover {
    left:-320px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.slider {
    width:640px;
    float:left;
    left:0;
    position:relative;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.header1, .header2 {
    text-align:center;
    width:320px;
    float:left;
    height:140px;
    color:#fff;
    position:relative;
}
.header1
{
	position:relative;
	right:30px;
}
.header2 {
    padding-top:24px;
    position:relative;
	right:30px;
}
.oned{
	position:relative;
	top:6px;
}
.sidebar
{
	background-color: black;
	height:1140px;
	width:200px!important;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 400px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top:10px;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
    margin-right:10px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
.book{
	text-decoration:none;
	display:inline-block;
}